body{
    background-color: gray;

}
.container{
    margin: 160px 0 0 200px;
    max-height: fit-content;
}
.row{
    width:100%;
    height: 60px;
}
.one,.two,.three,.four,.five,.six{
    margin:10px 0 0 0;
}
button{
    color:rgb(255, 255, 255);
    width:45px;
    height:50px;
    background-color: rgba(92, 87, 87, 0.666);
    box-shadow: 5px 5px 10px rgb(23, 22, 22);
    border: none;
    font-size: 15px;
    margin-left: 5px;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15%;
}
button:active{
           box-shadow: 1px 1px 2px white, -1px -1px black;
}
.fn{
    width:45px;
    height:35px;
    font-size: x-small;
}
.backspace{
    width:120px;
    border-radius: 10px;
}
.num{
    font-size: x-small;
}
.tab{
    width: 85px;
    border-radius:10px;
}
.slash{
    width: 80px;
    border-radius: 10px;
}
.caps{
    width:100px;
    border-radius:10px;
}
.shift{
    width:140px;
    border-radius:10px;
}
.control{
    width:58px;
    border-radius:10px;
}
.back{
    width: 275px;
    border-radius: 10px;
}
.enter{
    width:125px;
    border-radius: 10px;
}


.ent{
    height: 100px;
}
.row-1{
    padding-bottom: 10px;
    padding-top: 40px;
    row-gap: 0px;
}
